<div style="margin-left:300px;margin-top:50px">
<%= form_tag  import_csv_admin_summaries_path , multipart: true do %>

<ul style="float-left:10px">
  <li style="float-left:10px">Browser CSV file:    <%= file_field_tag :file,class:"btn btn-info btn-file"%></li></br>
  <li style="float-left:10px">Select Bank: <%=select_tag :customer_id, options_from_collection_for_select(@customers, "id", "name")%></li></br>
  <li style="float-left:10px">Select month: <%=select_tag :month_id, options_from_collection_for_select(@months, "id", "name")%></li></br>
  <li style="float-left:10px"><%= submit_tag "Import!"%></li>
</ul>
<% end %>
</br>
</br>
</div>
